extends layout

block content
  h1= title
  - let items = results 
  .container-fluid 
      .row
        each electr, index in items
            .col-sm-2(onclick=`buy(${index})`)
              p Gadget: #{electr.Gadget}
              p Price : #{electr.Price}
              p Storage: #{electr.Storage}
          

  